/* IMPORT LIBRARIES & STYLES */

@import url(../libs/example/example.min.css);

/* PROJECT VARIABLES */

:root {

	color-scheme: light dark;

	--font-size: 16px;
	--font-family: roboto-st, sans-serif;

	--container: 1320px;
	--gutter: 1.25rem;

	--color-accent: orange;
	--color-light: #f5f5f5;
	--color-dark: #151515;

	/* Bootstrap Variables */
	--bs-body-bg: light-dark(var(--color-light), var(--color-dark));
	--bs-body-color: light-dark(var(--color-dark), var(--color-light));
	--bs-heading-color: light-dark(var(--color-dark), var(--color-light));
	--bs-secondary-color: light-dark(
			hsl(from var(--color-light) h s calc(l - 50)),
			hsl(from var(--color-light) h s calc(l - 50))
		);
	--bs-body-line-height: 1.65;
	--bs-border-radius: .5rem;

}

/* Bootstrap Grid Gutter: 20px instead of default 24px */
.container, [class^='container-'], .row, .row > * { --bs-gutter-x: 1.25rem; }

/* FONTS LOAD */

@font-face { font-family: 'roboto-st'; src: url('../fonts/Roboto-Regular.woff2') format('woff2'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'roboto-st'; src: url('../fonts/Roboto-Italic.woff2') format('woff2'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'roboto-st'; src: url('../fonts/Roboto-Bold.woff2') format('woff2'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'roboto-st'; src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'); font-weight: 700; font-style: italic; }

/* GENERAL CSS */

* { margin: 0; padding: 0; box-sizing: border-box; }

::placeholder { color: #666; }
::selection { background-color: var(--color-accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

html, body {
	font-size: var(--font-size);
	font-family: var(--font-family);
	line-height: var(--bs-body-line-height);
}

body {
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
