@import url(config.css);

/* PROJECT STYLES */

.image {
	max-width: 100%;
	margin-bottom: calc(var(--bs-gutter-x) / 2);
	border-radius: var(--bs-border-radius);
	display: none;
}

html.light .image-light {
	display: block;
}
html.dark .image-dark {
	display: block;
}

.accent {
	color: var(--color-accent);
	font-weight: bold;
}

.modes {
	margin: var(--bs-gutter-x) 0;
}

blockquote {
	color: var(--bs-secondary-color);
	font-size: 1rem;
}
