/* USER VARIABLES SECTION */

:root {

	color-scheme: light dark;

	--color-accent: orange;
	--color-light: #f5f5f5;
	--color-dark: #151515;

	--font-default: roboto-st, sans-serif;

	/* Bootstrap Variables */
	--bs-body-bg: light-dark(var(--color-light), var(--color-dark));
	--bs-body-color: light-dark(var(--color-dark), var(--color-light));
	--bs-body-line-height: 1.65;

	/* Bootstrap Grid Gutter */
	.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
	.row, .row > * { --bs-gutter-x: 1.25rem; }

	/* System Settings */
	--font-base: 16px;
	--font-system: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

}

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/roboto-italic-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: italic; }
@font-face { src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: italic; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--color-accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

html, body {
	font-size: var(--font-base);
}

body {
	font-family: var(--font-default);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

/* USER STYLES */

.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.accent {
	color: var(--color-accent);
	font-weight: bold;
}
