/* LIBRARIES IMPORT SECTION */

@import url(../libs/bootstrap/css/bootstrap-grid.min.css);
@import url(../libs/bootstrap/css/bootstrap-reboot.min.css);

/* USER VARIABLES SECTION */

:root {

	color-scheme: light dark;

	--font-base: 16px;
	--font-default: roboto-st, sans-serif;

	--color-accent: orange;
	--color-light: #f5f5f5;
	--color-dark: #151515;

	/* Bootstrap Variables */
	--bs-body-bg: light-dark(var(--color-light), var(--color-dark));
	--bs-body-color: light-dark(var(--color-dark), var(--color-light));
	--bs-body-line-height: 1.65;

	/* Bootstrap Grid Gutter */
	.container, [class^='container-'] { --bs-gutter-x: .625rem; }
	.row, .row > * { --bs-gutter-x: 1.25rem; }

	/* System Font, opt. */
	--font-system: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

}

/* FONTS LOAD SECTION */

@font-face { font-family: 'roboto-st'; src: url('../fonts/roboto-regular.woff2') format('woff2'); font-weight: 400; font-style: normal; }
@font-face { font-family: 'roboto-st'; src: url('../fonts/roboto-italic.woff2') format('woff2'); font-weight: 400; font-style: italic; }
@font-face { font-family: 'roboto-st'; src: url('../fonts/roboto-bold.woff2') format('woff2'); font-weight: 700; font-style: normal; }
@font-face { font-family: 'roboto-st'; src: url('../fonts/roboto-bolditalic.woff2') format('woff2'); font-weight: 700; font-style: italic; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--color-accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

html, body {
	font-size: var(--font-base);
}

body {
	font-family: var(--font-default);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

/* USER STYLES */

.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
	display: none;
	&.image-dark {
		.dark-theme & {
			display: block;
		}
	}
	&.image-light {
		.light-theme & {
			display: block;
		}
	}
}

.text {
	.accent {
		color: var(--color-accent);
		font-weight: bold;
	}
	@media (min-width: 1200px) {
		font-size: 1.125rem;
	}
	@media (min-width: 1400px) {
		font-size: 1.375rem;
	}
}

.modes {
	margin: 1rem;
	span {
		cursor: pointer;
		margin: auto .4rem;
		&.active {
			color: var(--color-accent);
		}
		&::before {
			content: '🔥';
		}
	}
}
