@font-face {
  font-family: 'roboto-st';
  src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-st';
  src: url('../assets/fonts/Roboto-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-st';
  src: url('../assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-st';
  src: url('../assets/fonts/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
