.light .image-light {
  display: block;
}
.dark .image-dark {
  display: block;
}

.modes {
  margin: var(--gutter) 0;
}

[data-mode] {
  display: inline-block;
  cursor: pointer;
  border-radius: calc(var(--border-radius) / 2);
  padding: .4rem .9rem;
}
[data-mode].active {
  color: var(--color-accent);
  background-color: var(--color-accent);
  color: #fff;
}

.image {
  max-width: 100%;
  border-radius: var(--border-radius);
  display: none;
}

.accent {
  color: var(--color-accent);
  font-weight: bold;
}

blockquote {
  color: var(--secondary-color);
  font-size: .875rem;
  margin-top: .5rem;
  margin-bottom: 0;
}

.header {
  font-size: 1.85rem;
  color: var(--heading-color);
  line-height: 1.2;
}
@media (min-width : 992px) {
  .header {
    margin-bottom: 10px;
    font-size: 1.65rem;
  }
}
